<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>珠峰培训</title>
</head>
<body>
<%=title%>
<%=books.name%>
<%
 for(var i=0;i<10;i++){
     %>
      <h1>hello</h1>
    <%
 }
%>
</body>
</html>