<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<ul>
  <%
   for(var i=0;i<users.length;i++){
       %>
        <li><%=users[i].name%></li>
      <%
   }
    %>
</ul>
</body>
</html>