<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<form action="/login" method="get">
    用户名<input type="text" name="username">
    <input type="submit" value="登陆">
</form>
</body>
</html>